<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'form_app/css/master.css' %}">
  </head>
<body>
  <div class="container">
    <div class="jumbotron p-4 mb-2 bg-info text-white text-center">
        <div class="container vertical-center">
            <h1  class="display-4">
                Latham IT - Employee Asset Information
            </h1>

        </div>
        <hr class="my-4">
        <p>
            In order to stay compliant with company policies, Latham IT needs updated information on all equipment currently loaned out. Please read through the prompts carefully, as there are instructions on where to find the asset tags on your equipment. If you have any questions on how to fill out this form, please reach out to Bruno Pinheiro or James Donnelly.  Thank you.
        </p>
        
    </div>
    <div class="jumbotron">
      <p class="lead text-center">
        To make locating the asset tags easier, The Following pictures are examples of Asset Tags.
      </p>
      <div class="text-center">
      <img src="{% static 'images/Asset.jpg' %}" alt="No Show" height="320">
      </div>
    </div>
</div>
      <div class="container">
        
        {% block body_block %}
  
        {% endblock %}
      </div>
    </div>
  
    <script src="{% static 'form_app/js/master.js' %}" type="text/javascript" ></script>
      
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>